#root {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	width: 100%;
}

/* Flex styles -------------------------------------------------*/
#navbar_box {
	display: flex;
	align-items: center;
	position: sticky;
	justify-content: center;
    background-color: #2f2e2e;
    height: 10vh;
}

.navbar_button:first-of-type {
	margin-left: 2em;
}

.navbar_button:last-of-type {
	margin-right: 2em;
}

.navbar_button {
	display: flex;
	background-color: #484747; /* Green */
	border: none;
	color: white;
	font-weight: bolder;
	font-size: 11pt;
	font-family: Helvetica, sans-serif;
	padding: .5vmin 1vmin;
	text-align: center;
	margin-right: 2em;
}

#motion_container {
	margin-bottom: 30px;
	padding: 30px;
	color: white;
	text-shadow: 0px 0px 5px #000;
    background-image: url('../images/newimage_1.gif');
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 75vh;

}

#motion_graybar1 {
    width: 50px;
    height: 40px;
    color:darkgrey;
}

#motion_graybar2 {
    width: 50px;
    height: 40px;
    color:darkgrey;
}


#motion_text {
    /* position: relative; */
    margin-top: 7%;
    z-index: 10;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 25pt;
    line-height: 1.3;
}
img {
    max-width: 100%;
}
#motion_text1 {
    font-size: 7vw;
    line-height: 0.5;
}

#motion_text2 {
    font-size: 4vw;
}

#motion_text3 {
    font-size: 12pt
}

#motion_view_catalog {
    top: 15px;
    background-color: white; /* Green */
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 10pt;
    font-family: Helvetica, sans-serif;
    padding: 14px 25px;
    text-align: center;
}

#beats_catalogue_entire {
    /* grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid; */
    height: 920px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 560px 600px 250px 510px;
    /* margin-top: 5%; */
    /* padding-right: 20%; */
}

#catalog_title_container {
    height: 100px; 
    max-width: 100vw;
    display: flex;
    justify-content: center;
    
}

.catalog_title_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    position : absolute;
    z-index: 10;
    /* margin-top: 3%; */
    height: 0.2vh;
    width: 80vw;
    text-align:center;
    background-color: #EDEBF2;
    align-items:center;
}

.rectangle {
    /* display:block;
    margin-left: auto;
    margin-right: auto; */
    /* position: absolute; */
    text-align: center;
    z-index: 10;
    height: 70px;
    width: 200px;
    /* background-color: #555; */
    background-color: white;
    border-radius:1px;
    border-color: #EDEBF2;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    vertical-align: middle;
    margin: 0 auto;
    align-items:center;
}

.catalog_title_design {
    position: relative;
    top: 15px;
    color: #525252;
    font-weight: bold;
    font-size: 16pt;
    font-family: Helvetica, sans-serif;
    text-align:center;
}

#beats_catalogue_container {
    margin: 5vmin;
    margin-left: 10%;
    height: 830px;
    /* height: 88vh; */
    width: 80vw;
    /* width: 55%; */
    border-radius:1px;
    border-color: #EDEBF2;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
}

#pricing_entire {
  margin: 5vmin;
  margin-left: 10%;
  min-height: 650px;
  /* height: 88vh; */
  width: 80vw;
}

#pricing_title_container {


    height: 170px; 
    max-width: 100vw;
    display: flex;
    justify-content: center;
    /* height: 80vh;
    width: 15vw; */
    /* padding-top: 20px; */

    /* height: 100px; 
    max-width: 100vw;
    /* display: flex; */
    /* margin-left: auto;
    margin-right: auto;
    align-items: center;  */
    /* display: flex; */
    /* justify-content: center; */
    /* So the line and rectangle can enter */
    
}

#pricing_info_cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    justify-items: center; 
}

.pricing_info_card {

    /* So the contents of the card can go in the card */
    display : grid;
    width: 230px;
    height: 465px;
    
    /* border-radius:1px; */
    border-color: black;
    border-style: solid;
    border-width: 3px 3px 3px 3px;

}

.pricing_info_card_rectangle {
    background: black;
    width: 225px;
    height: 37px;
    text-align: center;
}

.pricing_info_rectangle_text {
    color: white;
    font-weight: bold;
    font-size: 16pt;
}
#pricing_rectangle {
    top: 10px;
}

#pricing_line {
    

}

/* CONTACT CONTACT CONTACT CONTACT */
/* CONTACT CONTACT CONTACT CONTACT */
/* CONTACT CONTACT CONTACT CONTACT */
/* CONTACT CONTACT CONTACT CONTACT */

#contact_title_container {
    
    height: 100px; 
    padding-top: 20px;

    /* So the line and rectangle can enter */

    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 5;
    
    display: grid;
    grid-template-rows: 15px 5px 15px 15px;
    grid-template-columns: 320px 500px 600px 510px;



}

#contact_entire {
    /* grid-row-start: 5;
    grid-row-end: 6;

    grid-column-start: 1;
    grid-column-end: 5; */

    /* display: grid;
    grid-template-rows: 80px 50px 100px 100px;
    grid-template-columns: 360px 300px 300px 300px 250px; */

    margin: 5vmin;
    margin-left: 10%;
    height: 832px;
    /* height: 88vh; */
    width: 80vw;

}

#contact_info_container {
    height: 500px;

    display: grid;
    grid-template-rows: 30px 10px 100px 100px;
    /* grid-template-columns: 360px 300px 320px 500px 450px; */
}

#contact_information {
    grid-row-start: 3;
    grid-column-start:2;
    grid-column-end: 5;
}

#contact_name, #contact_email, #contact_subject {
    color: black;
}

#contact_message {
    margin-top: 10px;
    height: 80px;
    color: black;
}

#contact_submit_button {
    height: 40px;
    width: 80px;
    border: none;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    background-color: black;
}

#contact_submit_button:hover {
    background-color: red;
    /* color: black; */
}